# Python
__pycache__/
*.py[cod]
*.pyo
*.so

# Jupyter
.ipynb_checkpoints/

# Environment
.env
.venv/
*.env
*.yml
*.yaml

# Data
data/
results/
checkpoints/
*.csv
*.hdf5
*.npy
*.npz

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
